/* Phien ban cu

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Iso&display=swap');

*{
    box-sizing: border-box;
}

iframe{
    width: 100%;
    height: 100%;
}

.dict{
    border: 1px black solid;
    display: flex;
    gap: 0 0.5rem;
    justify-content: center;
    height: calc(100vh - 3.7rem);
}

.dict div{
    border: 1px black solid;
    flex-basis: 100%;
}
.header{
    height: 2.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.2rem;
    margin-bottom: 0.2rem;
}
/* .dict__oxford{
    background-color: lightblue;
}
.dict__longman{
    background-color: lightcoral;
}
.dict__cambridge{
    background-color: yellowgreen;
}
.dict__tracau{
    background-color: grey;
}
.dict__gg-news{
    background-color: lightsalmon;
} 
.dict--disappear{
    display: none;
}
.header__select{
    display: none;
    font-size: 1.5rem;
}
.header__search{
    border: 1px solid black;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: whitesmoke;
    grid-column: 5 / 6;
    max-width: 10rem;
    font-size: 1.5rem;
    background-color: #fae660;
}
.header__switch{
    grid-column: 2 / 3;
    justify-self: end;
    max-width: 10rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: #fae660;
}
.bounce{
    display: none;
}
.header__input{
    grid-column: 3 / 5;
    caret-color: #ec4899;
    font-size: 1.5rem;
}
.header__input:focus{
    border: 2px solid #ec4899;
    outline: none;
}
@media (max-width: 768px) {
    .dict{
        gap: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .dict div{
        flex-basis: auto;
        border: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        width: 100%;
    }
    .dict__oxford,
    .dict__cambridge,
    .dict__longman,
    .dict__tracau,
    .dict__gg-news{
        display: none;
    }
    .dict--appear{
        display: initial;
    }
    .header__select{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Indie Flower', cursive;
        font-family: 'Rubik Iso', cursive;
        background-color: #fee6e3;
    }
    .bounce{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        position: fixed;
        width: calc(100% - 1rem);
        top: -3rem;
        transition: top 0.5s cubic-bezier(.25,.75,.2,1);
    }
    .bounce--drop{
        top: 0.42rem;
    }
    .bounce__input{
        grid-column: 1 / 6;
        height: 2.7rem;
        caret-color: #ec4899;
        font-size: 1.5rem;
    }
    .bounce__input:focus{
        border: 2px solid #ec4899;
        outline: none;
    }
    .header__switch{
        display: none;
    }
    .header__search{
        grid-column: 6 / 7;
        z-index: 1;
    }
    .header__input{
        display: none;
    }
}

*/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #ee9ca7;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.text {
  color: #8b6a60;
  font-family: sans-serif;
  font-weight: 300;
  font-style:italic;
  text-align: center;
  line-height: 1.5em;
  h1 {
    font-size: 1.4em;
  }
}
#no-italic{
  font-style: normal !important;
  font-size: 0.4em;
}
